* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.main {
  .banner {
    height: 450px;
    position: relative;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    button {
      position: absolute;
      bottom: 22px;
      left: 47%;
      padding: 5px 14px;
      border-radius: 10px;
      cursor: pointer;
      font-size: 15px;
      font-weight: 500;
    }
  }
}


.products_page {
  .product_col {
    .product_card {
      height: 375px;
      margin-bottom: 20px;
      .img_area {
        height: 250px;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
      h3 {
        font-size: 14px;
        font-weight: 500;
        color: #000;
        
      }
    }
  }
}